server {
    listen 8080;

    location /api/ {
        proxy_pass http://${BACKEND_HOST};
    }

    location /webhook/ {
        proxy_pass http://${BACKEND_HOST};
    }

    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html;
    }
}
